@model LLVG20240907.DTOs.ProductsDTOs.GetIdResultProductLLVGDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de querer eliminarlo?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreLLVG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreLLVG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionLLVG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionLLVG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioLLVG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioLLVG)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
